
  <div class='splash-title'>
    <span>Shopping record</span>
  </div>
  <div class="splash-buttons">
    <%= button_to 'log in', new_user_session_path, method: :get, class: "splash-button loggin" %>
    <%= button_to 'sign up', new_user_registration_path, method: :get, class: "splash-button signup" %>
  </div>